global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 1m

scrape_configs:
  - job_name: dataplane
    consul_sd_configs:
      - server:   'localhost:8500'
        token:    '{{ consul_master_token }}'
        services: ['meshem_envoy']
    metrics_path: '/stats'
    params:
      format: ['prometheus']
    relabel_configs:
    - source_labels: [__meta_consul_address, __meta_consul_service_port]
      separator: ':'
      target_label: __address__
    - source_labels: ['__meta_consul_node']
      target_label: 'instance'
    - source_labels: ['__meta_consul_metadata_meshem_service']
      target_label: 'local_cluster'
    metric_relabel_configs:
    - action: 'labelmap'
      regex: 'envoy_(.*)'
      replacement: '$1'
    - action: 'labeldrop'
      regex: 'envoy_(.*)'
