global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 1m

scrape_configs:
  - job_name: dataplane
    consul_sd_configs:
      - server:   'localhost:8500'
        token:    '{{ consul_master_token }}'
        services: ['meshem_envoy']
    metrics_path: '/stats'
    params:
      format: ['prometheus']
    relabel_configs:
    - source_labels: ['__meta_consul_address']
      regex: '(.*)'
      target_label: '__address__'
      replacement: '$1'
    - source_labels: ['__meta_consul_node']
      regex: '(.+)'
      target_label: 'instance' # Overwrite instance to not have the port number in it
      replacement: '$1'
    - source_labels: ['__meta_consul_metadata_meshem_service']
      regex: '(.+)'
      replacement: '${1}'
      target_label: 'local_cluster'
    metric_relabel_configs: # We don't like the envoy_ prefixes on label names, they're unnecessary. So strip them.
    - action: 'labelmap'
      regex: 'envoy_(.*)'
      replacement: '$1'
    - action: 'labeldrop'
      regex: 'envoy_(.*)'
