[Unit]
Description=products
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart={{ go_root }}/bin/go run /var/front.go --port={{ front_port }} --app={{ front_app_endpoint }}

[Install]
WantedBy=multi-user.target

