{
  "addresses": {
    "http": "0.0.0.0"
  },
  "advertise_addr": "{{ ansible_host }}",
  "datacenter": "{{ consul_datacenter }}",
  "acl_datacenter": "{{ consul_datacenter }}",
  "data_dir": "{{ consul_data_dir }}",
  "encrypt": "{{ consul_encrypt_key }}",
  "server": true,
  "bootstrap_expect": {{ groups.consul | length | int }},
  "leave_on_terminate": false,
  "skip_leave_on_interrupt": false,
  "rejoin_after_leave": true,
  "enable_syslog": true,
  "log_level": "{{ consul_loglevel }}",
  "retry_join": {{ groups.consul | map('extract', hostvars, 'ansible_host') | list | to_json }},
  "acl_default_policy": "deny",
  "acl_master_token": "{{ consul_master_token }}"
}
